@import url('https://fonts.googleapis.com/css?family=Pacifico');

body {
  margin:0;
  padding: 0;
  font-family: 'Pacifico', cursive;
  background: #fff;
}

#typewriter-section {
    position: relative;
    display: grid;
    align-items: center;
    justify-items: center;
    padding: 20px;
}

#typewriter-section h1 {
  margin: 0;
}

.typewriter {
  font-size: 40px;
  position: relative;
}

.typewriter::after {
  content:'';
  display: block;
  color: #000;
  animation: write 10s linear infinite;
  animation-fill-mode: forwards;
}

@keyframes write {
  1% {
    content:'D|';
  }
  2% {
    content:'De|';
  }
  3% {
    content:'Des|';
  }
  4% {
    content:'Desi|';
  }
  5% {
    content:'Desig|';
  }
  6% {
    content:'Design|';
  }
  7% {
    content:'Designe|';
  }
  8% {
    content:'Designer|';
  }
  
  14% {
    content:'Designer|';
  }
  14.5% {
    content:'Designe|';
  }
  15% {
    content:'Design|';
  }
  15.5% {
    content:'Desig|';
  }
  16% {
    content:'Desi|';
  }
  16.5% {
    content:'Des|';
  }
  17% {
    content:'De|';
  }
  17.5% {
    content:'D|';
  }
  18% {
    content:'';
  }
  
  20% {
    content:'D|';
  }
  21% {
    content:'De|';
  }
  22% {
    content:'Dev|';
  }
  23% {
    content:'Deve|';
  }
  24% {
    content:'Devel|';
  }
  25% {
    content:'Develo|';
  }
  26% {
    content:'Develop|';
  }
  27% {
    content:'Develope|';
  }
  28% {
    content:'Developer|';
  }
  
  34% {
    content:'Developer|';
  }
  35.5% {
    content:'Develope|';
  }
  36% {
    content:'Develop|';
  }
  36.5% {
    content:'Develo|';
  }
  37% {
    content:'Devel|';
  }
  37.5% {
    content:'Deve|';
  }
  38% {
    content:'Dev|';
  }
  38.5% {
    content:'De|';
  }
  39% {
    content:'D|';
  }
  39.5% {
    content:'';
  }
  
  42% {
    content:'C|';
  }
  43% {
    content:'Cr|';
  }
  44% {
    content:'Cre|';
  }
  45% {
    content:'Crea|';
  }
  46% {
    content:'Creat|';
  }
  47% {
    content:'Creato|';
  }
  48% {
    content:'Creator.|';
  }
  49% {
    content:'Creator.';
    opacity: 1;
  }
  100% {
    content:'Creator.';
    opacity: 0;
  }
}
